@font-face {
    font-family: 'OpenSans-Regular';
    src: url("/src/assets/fonts/OpenSans-Regular.ttf") format(TrueType);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url("/src/assets/fonts/OpenSans-Bold.ttf") format(TrueType);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Italic';
    src: url("/src/assets/fonts/OpenSans-Italic.ttf") format(TrueType);
    font-weight: 900;
    font-style: italic;
}